/* =============================== RESET =========================== */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chakra Petch", sans-serif;
  background-color: #f4f4f4;
  color: #111;
  line-height: 1.6;
  overflow-x: hidden;
}

:root {
  --main-color: #b38b31;
  --secondary-color: #886318;
  --third-color: #a1a1a1;
}

/* ================================ NAVBAR ========================== */
.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 8rem;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.navbar .logo img {
  height: 100px;
  width: auto;
  display: block;
}
.navbar nav {
  display: -webkit-flex;
  display: flex;
  gap: 2rem;
}

.navbar nav a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

.menu-toggle {
  display: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background: #111;
  border-radius: 2px;
}

/* ================================ HEADER =========================== */
.main-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  padding: 0 2rem;
  margin-top: 8rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.9)),
    url(https://i.redd.it/aur96v7bgk181.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

.header-text {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}

.header-text h2 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-color);
  letter-spacing: 10px;
}

/* ================================ SERVICES SECTION ========================== */

.services-description {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 2rem;
  gap: 2rem;
}

.services-description h2 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--main-color);
}

.services-description p {
  max-width: 600px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 1rem;
  text-align: start;
  color: #444;
  letter-spacing: 1px;
  border: 1px solid;
}

.services-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 3rem;
  margin-inline: 1.5rem;
}

.service-item {
  position: relative;
  height: 30vh;
  width: 600px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
  border: solid 1px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.service-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 1s ease;
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
}

.service-item.active img {
  -webkit-filter: brightness(0.4) blur(5px);
  filter: brightness(0.4) blur(5px);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.service-item h3 {
  width: 100%;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  transition: all 0.8s ease;
  font-size: 1.7rem;
  text-align: center;
  color: var(--main-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.service-item:hover h3 {
  -webkit-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
}
.service-item.active h3 {
  -webkit-transform: translate(-50%, -180%);
  transform: translate(-50%, -180%);
}

/* ---------------------------------- SERVICE OVERLAY ------------------------ */

.overlay-content {
  width: 100%;
  color: #ffffff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transition: all 0.8s ease;
  top: 100%;
  left: 0%;
  padding-bottom: 2rem;
}
.overlay-content p {
  color: var(--third-color);
  width: 90%;
  text-align: start;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1rem;
  padding-top: 1rem;
}
.overlay-content span {
  font-size: 1.5rem;
  font-weight: 700;
}
.service-item.active .overlay-content {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* ================================ ABOUT SECTION =========================== */
.about-section {
  position: relative;
  overflow: hidden;
  padding: 3rem 3rem;
  margin-bottom: 10rem;
  width: 100%;
  color: #fff;
}

.about-overlay {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url("https://wynndetailing.com.au/wp-content/uploads/2024/07/Car-Detailing-A-Comprehensive-Guide-to-Pristine-Perfection.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index: -1;
  height: 100%;
}

.about-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  gap: 2rem;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}

.about-description {
  flex: 1;
  max-width: 40%;
  height: fit-content;
  padding: 2rem;
}

.about-contact {
  flex: 1;
  max-width: 40%;
  height: fit-content;
  padding: 2rem;
  background-color: hsla(0, 0%, 0%, 0.6);
  -webkit-box-shadow: 0px 0px 20px -10px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 20px -10px rgb(0, 0, 0);
  box-shadow: 0px 0px 20px -10px rgb(0, 0, 0);
  border: solid 1px black;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.about-contact h2,
.about-description h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: var(--main-color);
}

.about-description p {
  margin-block: 1rem;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 1.5;
  color: var(--third-color);
}

.contact-details p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--third-color);
  letter-spacing: 2px;
}

.contact-details p:first-child {
  margin-bottom: 1.5rem;
}

.contact-details p:last-child {
  margin-top: 1.5rem;
}

strong {
  color: white;
  letter-spacing: 2px;
}

span {
  color: var(--third-color);
}

a {
  color: var(--main-color);
  letter-spacing: 1px;
  font-style: italic;
  text-decoration: none;
}

.button-map {
  padding: 0.8rem;
  font-weight: 700;
  font-size: 0.8rem;
  font-style: normal;
  color: black;
  -webkit-box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
  box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
  background-color: var(--main-color);
  position: absolute;
  top: -2rem;
  right: -1rem;
  transition: all 0.2s ease-in-out;
}

.button-map:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  -webkit-transform: scale(1.02) translateY(-10px);
  transform: scale(1.02) translateY(-10px);
}

.map-container {
  position: relative;
  margin-top: 2rem;
}

/* ====================================== FOOTER ======================== */
footer {
  padding: 2rem;
  text-align: center;
  background: #111;
  color: #fff;
  font-size: 0.9rem;
}

/* ==================================== FORM ================================= */
form {
  max-width: 600px;
  margin: 2rem auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

input,
textarea {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-family: inherit;
  width: 100%;
}

button {
  padding: 1rem;
  border: none;
  background: #111;
  color: #fff;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background: #333;
}

/* ================================== MEDIA QUERIES ======================= */

@media (max-width: 896px) {
  /* ----------------------------- NAVBAR---------------------------------- */
  .navbar nav {
    display: none;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 2rem;
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  }

  .navbar nav.active {
    display: -webkit-flex;
    display: flex;
  }

  .menu-toggle {
    display: -webkit-flex;
    display: flex;
  }
  .navbar .logo img {
    height: 80px;
  }
  /* ---------------------------------- HEADER --------------------------- */
  h1 {
    font-size: 2rem;
  }
  .header-text h1 {
    text-align: center;
  }
  .header-text h2 {
    font-size: 0.8rem;
    letter-spacing: 5px;
  }
  /* --------------------------------- SERVICES ---------------------------- */
  .services-description h2 {
    font-size: 3rem;
    text-align: center;
  }

  .services-description p {
    font-size: 0.9rem;
    text-align: center;
  }
  .services-collection {
    margin-inline: 1rem;
  }
  .service-item {
    min-width: 100%;
    height: 60vh;
  }
  .overlay-content p {
    font-size: 0.8rem;
    line-height: 1.1rem;
    text-align: center;
  }
  .overlay-content span {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
  }
  /* ------------------------------------ ABOUT --------------------------------- */

  .about-content {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    gap: 0;
  }

  .about-description,
  .about-contact {
    max-width: 100%;
    padding: 1.5rem;
  }

  .about-description h2,
  .about-contact h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .contact-details p {
    font-size: 0.9rem;
    text-align: start;
  }
  .about-description p {
    font-size: 1rem;
    text-align: start;
  }

  .map-container {
    margin-top: 3rem;
  }

  /* ============================== BACKGROUND-IMAGE ONLY ON ABOUT ===================================== */
  .about-overlay {
    display: none;
  }
  .about-description {
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  .about-description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 2)),
      url("https://wynndetailing.com.au/wp-content/uploads/2024/07/Car-Detailing-A-Comprehensive-Guide-to-Pristine-Perfection.jpg");
    background-size: cover;
    background-position: center;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }

  .about-section {
    padding: 0;
  }
  .about-contact {
    width: 100%;
    background-color: #000;
  }
}
@media (hover: none), (pointer: coarse) {
  .service-item:hover h3 {
    transform: translate(-50%, -50%);
  }
  .service-item.active h3 {
    -webkit-transform: translate(-50%, -180%);
    transform: translate(-50%, -180%);
  }
}
